.Add-post{
  .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .card{
    .card-header{
      img{
        height: 100%;
      }
    }
    .card-body{
      padding: 20px;

      label, .post-show{
        font-size: 18px;
        font-weight: bold;
      }
      .post-body{
        font-size: 14px;
        height: 200px;
      }

      button{
        font-weight: bold;
      }

      .show-post-title {
        font-weight: bold;
        color: #887a7e;
        font-size: 17px;
      }

      .show-post-description{
        color: #0b2e13;
      }

    }
  }

  .show-card{
    height: 100%;
  }

}

@media (max-width: 576px) {
  .Add-post{
    .show-card{
      margin-top: 20px;
    }
  }
}