.Layout{
  .Navbar{
    box-shadow: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;

    .nav-logo{
      cursor: pointer;
      .icon-bars{
        &:hover{
          background-color: cornflowerblue;
        }
      }
    }

    ul{
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      li{
        margin-left: 30px;
      }

      .user-profile{
        .ant-dropdown-link{
          display: flex;
          align-items: center;

          img{
            width: 40px;
            height: 40px;
            border-radius: 5px;
          }

          span{
            font-weight: bold;
            color: black;
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }

  .bottom{

    .sidebar{
      position: fixed;
      top: 60px;
      left: 0;
      background-color: #222E3C;
      width: 20%;
      height: calc(100vh - 60px);
      overflow: auto;
      transition: 1.5s linear;

      padding: 20px 0;

      .title{
        font-size: 20px;
        color: white;
        font-weight: bold;
        padding-left: 20px;
      }
      .menu-box{
        .menu{
          margin-top: 30px;
          .menu-name{
            padding-left: 20px;
            font-size: 13px;
            color: white;
            font-weight: bold;
          }

          ul{
            list-style: none;
            margin: 0;
            li{
              padding: 0;
              margin: 2px 0;
              a{
                display: flex;
                align-items: center;
                width: 100%;
                padding: 12px;
                padding-left: 23px;
                position: relative;

                .icon-sidebar{
                  margin-right: 10px;
                  transition: 0.2s all linear;
                }

                .link-name{
                  color: #868A93;
                  font-weight: bold;
                  transition: 0.2s all linear;
                }

                &:hover{
                  .icon-sidebar{
                    background-color: white;
                  }
                  .link-name{
                    color: white;
                  }
                }

                &:before{
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: 3px;
                  background-color: transparent;
                }
              }

              .active-link{
                background-color: #24364b;
                  &:before{
                    background-color: #3b7ddd;
                  }
              }
            }
          }
        }
      }

    }

    .hidden-sidebar{
      position: absolute;
      left: -100%;
     /* transition: 2s all linear;*/
    }

    .content{
      padding: 50px;
      padding-right: 1.5%;
      padding-left: 20px;
      margin-left: 20%;
      width: 80%;
      background-color: #f5f7fb;
      transition: margin-left 0.8s linear;
      height: 100%;
    }

    .fluid-content{
      margin-left: 0;
      width: 100%;
      transition: 0.4s all linear;
      padding-left: 20px;
    }
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    margin-left: 20%;
    width: 80%;
    transition: 0.5s all linear;
    transition-delay: 0.3s;
    padding-left: 50px;
    padding-right: 40px;

    .personal-name{
      a{
        color: #666666;
        font-weight: bold;
      }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      li{
        margin-left: 10px;
        a{
          color: #666666;
        }
      }
    }
  }

}

.ant-dropdown-menu-item{
  img{
    margin-right: 10px;
  }
  span{
    font-weight: bold;
  }
}

.bell{
  position: relative;
  .my-badge{
    width: 17px;
    height: 17px;
    position: absolute;
    top: -5px;
    right: -27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s all linear;
    font-size: 10px;
    font-weight: bold;
  }

  &:hover{
    .my-badge{
      transform: translateY(-3px);
    }
  }
}

.message-menu{
  padding: 0 !important;

  ul{
    width: 350px;
    padding: 0 !important;
    margin: 0 !important;

    .message-title{
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }

    .message-bottom{
      text-align: center;
      padding: 10px 0;
      a{
        font-size: 14px;
        color: black;
      }
    }

    li{
      margin: 0;
      padding: 0;
    }

    .ant-dropdown-menu-item{
      margin: 0;

      span{
        display: flex;
        align-items: center;
        justify-content: center;
        .img-box{
          width: 80px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: 25px;
            height: 25px;
          }
        }
        .text-box{
          padding: 10px;
          width: 300px;
          .title{
            font-size: 16px;
          }
          .commit{
            font-size: 13px;
            font-weight: lighter;
          }
          .date{
            font-size: 13px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}


@media (max-width: 576px) {
  .Layout{
    .Navbar{
      padding: 10px 20px;
    }

    .bottom{
      .sidebar{
        width: 50%;
        z-index: 10;
        transition: 0.5s all linear;
      }

      .content{
         padding: 30px 20px;
         margin-left: 0;
         width: 100%;
       }

      .footer{
        margin-left: 0;
        width: 100%;
      }



      .fluid-content{
        margin-left: 0;
        width: 100%;
        transition: 0.4s all linear;
        padding-left: 20px;
      }
    }

    .footer{
      display: block;

      .personal-name{
       margin-bottom: 15px;
      }

      ul{
        li{
          margin-left: 0;
          margin-right: 10px;
          a{

          }
        }
      }
    }

  }
  .message-menu{
    margin: 16px 0 !important;
    width: 100vw;
    border: 1px solid #D2D4D5;
  }
  .ant-dropdown-menu-item{
    img{
      margin-right: 10px;
    }
    span{
      font-weight: bold;
    }
  }

  .profil-menu{
    margin-top: 8px !important;
  }
}
