.icon{
  width: 25px;
  height: 25px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 100%;
}

.icon-bars{
  background-color: black;
  -webkit-mask-image: url('../img/bars.svg');
  mask-image: url('../img/bars.svg');
}

.icon-bell{
  background-color: black;
  -webkit-mask-image: url('../img/bell.svg');
  mask-image: url('../img/bell.svg');
}

.icon-bell-yellow{
  background-color: yellow;
  -webkit-mask-image: url('../img/bell.svg');
  mask-image: url('../img/bell.svg');
}

.icon-home{
  background-color: blue;
  -webkit-mask-image: url('../img/home.svg');
  mask-image: url('../img/home.svg');
}

.icon-user-plus{
   background-color: green;
   -webkit-mask-image: url('../img/user-plus.svg');
   mask-image: url('../img/user-plus.svg');
 }

.icon-sidebar{
  background-color: #868A93;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 100%;
}

.icon-dashboard{
  -webkit-mask-image: url('../img/dashboard.svg');
  mask-image: url('../img/dashboard.svg');
}

.icon-my-user{
  -webkit-mask-image: url('../img/user-one.svg');
  mask-image: url('../img/user-one.svg');
}

.icon-users{
  -webkit-mask-image: url('../img/users.svg');
  mask-image: url('../img/users.svg');
}

.icon-car{
  -webkit-mask-image: url('../img/car.svg');
  mask-image: url('../img/car.svg');
}

.icon-like{
  -webkit-mask-image: url('../img/like.svg');
  mask-image: url('../img/like.svg');
  background-color: white;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.icon-payment{
  -webkit-mask-image: url('../img/payment.svg');
  mask-image: url('../img/payment.svg');
}


.icon-arrow{
  -webkit-mask-image: url('../img/arrow.svg');
  mask-image: url('../img/arrow.svg');
}


.icon-posts{
  -webkit-mask-image: url('../img/post.svg');
  mask-image: url('../img/post.svg');
}


.icon-add-post{
  -webkit-mask-image: url('../img/add-post.svg');
  mask-image: url('../img/add-post.svg');
}



