.Post-item {

  .user-post-card {
    background-color: white;
    border-radius: 5px;

    .card-header {
      padding: 0;
      background-color: transparent;
      overflow: hidden;

      img {
        transition: 0.3s all linear;
      }

      &:hover {
        img {
          transform: scale(1.07);
        }
      }
    }

    .card-body {
      padding: 15px 20px;
      border-bottom: 1px solid #D2D4D5;
      padding-bottom: 70px;

      .post-title {
        font-weight: bold;
        color: black;
        font-size: 25px;
      }

      .post-description{
        color: #0b2e13;
        font-size: 20px;
      }

      .post-author{
        font-size: 14px;
        color: red;
        font-weight: bold;
        position: absolute;
        bottom: 20px;

        span{
          color: black;
        }
      }
    }

  }

  .card-title{
    font-size: 20px;
    font-weight: bold;
  }

  .commnet-box{
    background-color: white;
    border-radius: 5px;

    .card-body{
      padding: 5px;

      .comment-item{
        margin-bottom: 15px;
        background-color: #e6e7eb;
        border-radius: 5px;
        padding: 10px;
        .top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
            width: 45px;
            border-radius: 50%;
          }
          .comment-email{
            font-size: 14px;
            font-weight: bold;
          }
        }
        .comment-description{
          margin-top: 10px;
          padding: 10px 0;
          border-bottom: 2px solid white;
          border-top: 2px solid white;
        }
      }
    }

    .add-comment{
      .add-comment-title{
        color: black;
        font-weight: bold;
        margin-bottom: 5px;
      }
      textarea{
        width: 100%;
        height: 100px;
        padding: 10px;

        &::placeholder{
          font-size: 14px;
        }
      }
      button{
        float: right;
        border-radius: 2px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100px;
      }
    }
  }

}

@media (max-width: 576px) {
  .Post-item {

    .user-post-card {
      background-color: white;
      border-radius: 5px;

      .card-header {
        padding: 0;
        background-color: transparent;
        overflow: hidden;

        img {
          transition: 0.3s all linear;
        }

        &:hover {
          img {
            transform: scale(1.07);
          }
        }
      }

      .card-body {
        padding: 15px 20px;
        border-bottom: 1px solid #D2D4D5;
        padding-bottom: 70px;

        .post-title {
          font-weight: bold;
          color: black;
          font-size: 25px;
        }

        .post-description{
          color: #0b2e13;
          font-size: 20px;
        }

        .post-author{
          font-size: 14px;
          color: red;
          font-weight: bold;
          position: absolute;
          bottom: 20px;

          span{
            color: black;
          }
        }
      }

    }

    .card-title{
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    .commnet-box{
      background-color: white;
      border-radius: 5px;

      .card-body{
        padding: 5px;

        .comment-item{
          margin-bottom: 15px;
          background-color: #e6e7eb;
          border-radius: 5px;
          padding: 10px;
          .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
              width: 45px;
              border-radius: 50%;
            }
            .comment-email{
              font-size: 14px;
              font-weight: bold;
            }
          }
          .comment-description{
            margin-top: 10px;
            padding: 10px 0;
            border-bottom: 2px solid white;
            border-top: 2px solid white;
          }
        }
      }

      .add-comment{
        .add-comment-title{
          color: black;
          font-weight: bold;
          margin-bottom: 5px;
        }
        textarea{
          width: 100%;
          height: 100px;
          padding: 10px;

          &::placeholder{
            font-size: 14px;
          }
        }
        button{
          float: right;
          border-radius: 2px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }

  }
}