.sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: #e5e5e5;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f3f3f3;
  border-radius: 5px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 5px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {

}

@media (max-width: 576px) {
  .sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #e5e5e5;
  }
}