.Users {

  .page-title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .user-card {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;

    .Detail {
      padding: 15px 20px;
      border-bottom: 1px solid #D2D4D5;

      .title {
        font-weight: bold;
        color: #AF9DA2;
      }

      .avatar-box {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img-box {
          img {
            width: 120px;
            border-radius: 50%;
          }
        }

        .username {
          font-weight: bold;
          color: #AF9DA2;
          margin-top: 5px;
        }

        .name {
          color: #AF9DA2;
        }

        .button-box {
          margin-top: 10px;

          button {
            background-color: #3B7DDD;
            color: white;
            border: none;
            margin: 0 5px;
            padding: 3px 7px;
            font-weight: bold;
            font-size: 12px;
            border-radius: 2px;

            &:hover {
              background-color: #3774cc;
            }
          }
        }
      }
    }

    .About-box {
      padding: 15px 20px;

      .title {
        font-weight: bold;
        color: #AF9DA2;
        margin-bottom: 10px;
      }

      .information {
        display: flex;
        align-items: center;
        margin-top: 5px;

        img {
          margin-right: 10px;
          width: 16px;
        }

        span {
          font-weight: bold;
          color: #6d6266;

          a {
            color: #8D85DF;
          }
        }
      }
    }

  }

}

@media (max-width: 576px) {
  .Users {
    width: 100%;

    .page-title {
      font-size: 23px;
      margin-bottom: 15px;
    }

    .user-card {

      .Detail {
        padding: 15px 20px;
        border-bottom: 1px solid #D2D4D5;

        .title {
          font-weight: bold;
          color: #AF9DA2;
        }

        .avatar-box {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .img-box {
            img {
              width: 120px;
              border-radius: 50%;
            }
          }

          .username {
            font-weight: bold;
            color: #AF9DA2;
            margin-top: 5px;
          }

          .name {
            color: #AF9DA2;
          }

          .button-box {
            margin-top: 10px;

            button {
              background-color: #3B7DDD;
              color: white;
              border: none;
              margin: 0 5px;
              padding: 3px 7px;
              font-weight: bold;
              font-size: 12px;
              border-radius: 2px;

              &:hover {
                background-color: #3774cc;
              }
            }
          }
        }
      }

      .About-box {
        padding: 15px 20px;
        border-bottom: 1px solid #D2D4D5;

        .title {
          font-weight: bold;
          color: #AF9DA2;
          margin-bottom: 10px;
        }

        .information {
          display: flex;
          align-items: center;
          margin-top: 5px;

          img {
            margin-right: 10px;
            width: 16px;
          }

          span {
            font-weight: bold;
            color: #6d6266;

            a {
              color: #8D85DF;
            }
          }
        }
      }

    }
  }
}