.User-posts {

  .user-post-card {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;

    .card-header {
      padding: 0;
      background-color: transparent;
      overflow: hidden;

      img {
        transition: 0.3s all linear;
      }

      &:hover {
        img {
          transform: scale(1.07);
        }
      }
    }

    .card-body {
      padding: 15px 20px;
      border-bottom: 1px solid #D2D4D5;
      padding-bottom: 40px;

      .post-title {
        font-weight: bold;
        color: #887a7e;
        font-size: 17px;
      }

      .post-description{
        color: #0b2e13;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .post-author{
        font-size: 14px;
        color: red;
        font-weight: bold;
        position: absolute;
        bottom: 10px;

        span{
          color: black;
        }
      }
    }

  }

}